/*********************************************************************************************
************************************** CSS *************************************************
*********************************************************************************************/

/*== FONTS ==*/

/*Aleo*/
@font-face {
    font-family: 'aleobold';
    src: url('../fonts/aleo-bold-webfont.woff2') format('woff2'),
         url('../fonts/aleo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* Open regular */
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
        url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* Open semibold */
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
        url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Dosis*/

@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-Regular.ttf');
    font-weight: normal;
    font-style: normal;

}


*{
	padding:0;
	margin:0;
}

html{
    /*background: rgba(114,104,183,1);*/
}

body{
	/*background: rgb(51,41,88);
	background: -moz-linear-gradient(top, rgba(51,41,88,1) 23%, rgba(114,104,183,1) 100%);
	background: -webkit-linear-gradient(top, rgba(51,41,88,1) 23%,rgba(114,104,183,1) 100%);
	background: linear-gradient(to bottom, rgba(51,41,88,1) 23%,rgba(114,104,183,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#332958', endColorstr='#7268b7',GradientType=0 );
  */

  background-image: url('../img/fondo_prueba.jpg');
  background-size: 100% auto;
  /*overflow: hidden;*/
  color: white;

}
 a, li, input{
   outline: none;
 }

 input:focus, textarea:focus, button:focus{
   outline:none;
 }
 section{
   padding: 0;
 }


p{
	margin-bottom:5px;
}

p , li{
	color:white;

}

li{
	font-size:14px;
	line-height: 25px;
	list-style:none;
}

ul{
    margin-bottom: 0px;
}

.list-item{
    background: #00D6BD;
    width: 7px;
    height: 7px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 30px;
    vertical-align: middle;
}

#contacto,#portfolio, #clientes{
  text-align: center;
  color: white;
  padding: 0;
}

#title-web{
	text-align:center;
  font-family: 'Dosis';
  color:white;
}

#subtitle{
  color: white;
  font-family: 'Dosis';
  font-size: 1.3em;
}

#pregunta{
  color: #00d6bd;
  text-shadow: 2px 2px #7268b7;
  font-family: 'aleobold';
}

#lema{
  color: white;
  font-size: .9em;
  font-family: 'open_sansregular';
}

#formulario input, #formulario textarea{
  background-color: transparent;
  color: #00d6bd;
  border: none;
  border-bottom: 1px solid #00d6bd;
  padding: 5px 0px;
  width: 400px;
  font-size: .9em;
  margin: 10px 0px;
}

#formulario textarea{
  border: 1px solid #00d6bd;
  height: 150px;
}

#formulario input::-webkit-input-placeholder, #formulario textarea::-webkit-input-placeholder{
  color: #00d6bd;
}

#enviar{
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 40px;
}
.iconos{
  margin: 0 10px;
}
.iconos:first-child{
  text-align: right;
}


/*PORTFOLIO*/



#title-section{
  color: #00d6bd;
  font-family: 'aleobold';
}

/*CLIENTES*/

.clientes{
  background-color: white;
}

.logo-clientes{
 padding: 5% 5%;
 text-align: center;
}

.nav-dots .nav-dot {

	width: 8px;
	height: 8px;
	margin: 0 2px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
}

.dot-nav-slider > ul{
    padding: 0;
    text-align: center;
}
.clientes-3{
  display: none;
}

.about h3{
  color: white;
  font-family: 'Dosis';
}

.about h2{
  color: #00d6bd;
  font-family: 'aleo';
}

.about h1{
  color: #332958;
  text-shadow: 2px 2px #00d6bd;
  font-family: 'aleo';
}
.about p{
  color: #180d42;
  font-family: 'open_sansregular';
}

/*para_probar_portfolio-01.png*/








 /******************************************************NUEVA WEB***************************************/
