/*********************************************************************************************
************************************** CSS *************************************************
*********************************************************************************************/

/*== FONTS ==*/

/*Aleo*/
@font-face {
    font-family: 'aleobold';
    src: url('../fonts/aleo-bold-webfont.woff2') format('woff2'),
         url('../fonts/aleo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* Open regular */
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
        url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* Open semibold */
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
        url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Dosis*/

@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-Regular.ttf');
    font-weight: normal;
    font-style: normal;

}


*{
	padding:0;
	margin:0;
}

html{
    /*background: rgba(114,104,183,1);*/
}

body{
	/*background: rgb(51,41,88);
	background: -moz-linear-gradient(top, rgba(51,41,88,1) 23%, rgba(114,104,183,1) 100%);
	background: -webkit-linear-gradient(top, rgba(51,41,88,1) 23%,rgba(114,104,183,1) 100%);
	background: linear-gradient(to bottom, rgba(51,41,88,1) 23%,rgba(114,104,183,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#332958', endColorstr='#7268b7',GradientType=0 );
  */
   background: radial-gradient(circle,  #4c407d 8%,#3c2d63,#3b2b5e,   #312453,    #332554,#02011e 90%);
  /*background-image: url('../img/fondo_prueba.jpg');*/
  background-size: 100% auto;
  /*overflow: hidden;*/
  color: white;

}

canvas{
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}

 a, li, input{
   outline: none;
 }

 a:focus, a:hover {
    text-decoration:none;
    color: inherit;
}

 input:focus, textarea:focus, button:focus{
   outline:none;
 }
 section{
   padding: 0;
 }


p{
	margin-bottom:5px;
}

p , li{
	color:white;

}

li{
	font-size:14px;
	line-height: 25px;
	list-style:none;
}

ul{
    margin-bottom: 0px;
}

.list-item{
    background: #00D6BD;
    width: 7px;
    height: 7px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 30px;
    vertical-align: middle;
}

#main-logo{
  margin: 50px auto;
}

#contacto,#portfolio, #clientes{
  text-align: center;
  color: white;
  padding: 0;
}

#portfolio{

  margin-bottom: 2em;
}

#title-web{
	text-align:center;
  font-family: 'Dosis';
  color:white;
  margin: 1em auto;
}

#subtitle{
  color: white;
  font-family: 'Dosis';
  font-size: 1.3em;
}

#pregunta{
  color: #00d6bd;
  text-shadow: 2px 2px #7268b7;
  font-family: 'aleobold';
  margin: 1em auto;
}

#lema{
  color: white;
  font-size: .9em;
  font-family: 'open_sansregular';
  margin: 2em auto;
}
#formulario{
  margin: 2em auto;
}

#formulario input, #formulario textarea{
  background-color: transparent;
  color: #00d6bd;
  border: none;
  border-bottom: 1px solid #00d6bd;
  padding: 5px 0px;
  width: 400px;
  font-size: .9em;
  margin-top: 0;
  margin-bottom: 2em;
}

#formulario textarea{
  border: 1px solid #00d6bd;
  height: 150px;
  margin-top: 2em;
}

#formulario input::-webkit-input-placeholder, #formulario textarea::-webkit-input-placeholder{
  color: #00d6bd;
}

#enviar{
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 40px;
}

.iconos-container{
  padding:10em 15em;
}

.iconos{
  margin: 0 10px;
}
.iconos:first-child{
  text-align: right;
}


/*PORTFOLIO*/



#title-section{
  color: #00d6bd;
  font-family: 'aleobold';
}
  /*
  .clip-ellipse {
    clip-path: ellipse(60px 40px at center);
  }*/
#prueba-cover{
  position:absolute; ; height:100%; width:100%; top:0; overflow:hidden;  position:relative;
    overflow:hidden;
}



#prueba-cover:before{
    content:'';
    content:'';
    position:absolute;

    width:50px;
    height:50px;
    border-radius:100%;
    box-shadow: 0px 10px 0px 10px #448CCB;

  }

.slider-porfolio{
  background: white;
}

.slider-porfolio {
  min-height: 200px;
}

.img-to-slide{
  position: absolute;
  margin-top: -50%;
  left: 0;
  padding:20%;
  /*width: 70%;*/

}

#portfolio h3{
  margin-bottom: 15%;
}
/*CLIENTES*/

.clientes{
  background-color: white;
}

.logo-clientes{
 padding: 5% 5%;
 text-align: center;
 width: auto;
}

.nav-dots .nav-dot {

	width: 8px;
	height: 8px;
	margin: 0 2px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
}

.dot-nav-slider > ul{
    padding: 0;
    text-align: center;
}
.clientes-3{
  display: none;
}
.about{
  padding: 10em 5em;
  background-image: url(../img/fondo-2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -3;
}

.about-inner h3{
  color: white;
  font-family: 'Dosis';
}

.about-inner h2{
  color: #00d6bd;
  font-family: 'aleo';
}

.about-inner h1{
  color: #332958;
  text-shadow: 2px 2px #00d6bd;
  font-family: 'aleo';
}
.about-inner p, .about p{
  color: #180d42;
  font-family: 'open_sansregular';
  margin-top: 2em;
}
.typed-cursor{
  display: none
}

.about-inner{
  margin:5% auto;
}

#canvasSky{
  position: absolute;
  height: 100%;
  width: 100%;
  border: none;
  z-index: -3;
}

@-webkit-keyframes floating{
 0%{ margin-top: 4em;}
 50%{ margin-top: 3em;}
 100%{ margin-top: 4em;}
}


.planeta > div{
min-height:5em;
margin-top: 3em;

}

.circle-container{
  height: 100px;
  text-align: center;
}

.circle-lema{
  position: absolute;
  background-color: #00d6bd;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  text-align: center;
  padding: 2%;
  border: 3px solid white;
}

.circle-lema p{
  font-family: 'aleo';
  color: white;
  text-shadow: 2px 2px #7268b7;
  font-size: 1.5em;
  margin-top: 25%;
}


.desplazamiento{
  position:fixed;
  right:0;
  color:#00d6bd;
  padding-right:50px;
  z-index:3
}

.desplazamiento:hover{
  color:white;
}
 /******************************************************NUEVA WEB***************************************/

.wave{
	width: 200px;
	height: 50px;
	background-image: url("../img/linea_amarilla.svg");
	background-position: 0px 0px;
	background-repeat: repeat-x;
	animation: animatedBackground .31s linear infinite;
  margin: 30px auto;

}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 150% 0; }
}



 .floating{
    /*float: left;*/
    margin-top: 5px;
    width: 50px;
    height: auto;
}

.floating-time-1{
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
}

.floating-time-2{
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 4s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
}

.floating-time-3{
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 4.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 4.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
}


.float-right{
  padding-right: 10%;
}

.float-left{
  padding-left: 10%;
}
@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}
}


.scaling{
    float: left;
    -webkit-animation-name: scalex;
    -webkit-animation-duration:3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration:3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
}

    @-webkit-keyframes scalex{
        from {-webkit-transform: scale(0.9);}
        65% {-webkit-transform: scale(1.0);}
        to {-webkit-transform: scale(0.9);}
    }

    @-moz-keyframes scale{
        from {-moz-transform: scale(0.9);}
        65% {-moz-transform: scale(1.0);}
        to {-moz-transform: scale(0.9);}
    }
